<!-- <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "Test-suite">
<test name = "TestNg practice">
<classes>
<class name = "salesforceTestCases.SeleniumFinal.TestNG">
<methods>
<include name ="InitialDriver"/>
<include name = "LoginErrorMessage_TC01"/>
<include name ="LoginToSalesForce_TC02"/>
<include name ="CheckRemeberMe_TC03"/>
<include name ="ForgotPassword_TC4A"/>
<include name ="ForgotPassword_TC4B"/>
<include name ="TC05"/>
</methods>
</class>
</classes>
</test>
</suite> -->